<div class="row">
  <div class="col-4-4">
    <div class="person-pane element-pane">
      <div style="display: none;" class="data-pane">
        <input type="hidden" name="id" value="{{id}}">
        <input type="hidden" name="type" value="{{type}}">
      </div>
      <div class="row">
        <div class="col-4-4 person-name">
          <h5>
            <i class="fa fa-user-o" draggable="true"></i> {{name}} <i class="fa fa-times pull-right remove-button" data-on-click="ev/delete-from-scenario"></i>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>