<div class="row">
  <div class="col-4-4 person-pane">
    <input type="hidden" name="id" value="{{id}}">
    <div class="row">
      <div class="col-4-4 person-name">
        <h5>
          <i class="fa fa-user-o"></i> {{name}}
        </h5>
      </div>
    </div>
  </div>
</div>