<div class="row">
  <div class="col-4-4">
    <div class="place-pane element-pane">
      <div style="display: none;" class="data-pane">
        <input type="hidden" name="id" value="{{id}}">
        <input type="hidden" name="type" value="{{type}}">
      </div>
      <div class="row">
        <div class="col-4-4 place-name">
          <h3>
            <i class="fa fa-home"></i> {{name}} <i class="fa fa-times pull-right remove-button" data-on-click="ev/delete-from-scenario"></i>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-4-4 place-content">
          <div class="row">
            <div class="col-4-4 place-set-content">
              <div class="row">
                <div class="col-4-4 place-cars">
                  {{#each cars}}
                    {{> car this}}
                  {{/each}}
                </div>
              </div>
              <div class="row">
                <div class="col-4-4">
                  <div class="placeholder" data-accepted-drops="car" >
                    <img src="/img/car.png" class="placeholder-image">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4-4 place-unset-content">
              <div class="row">
                <div class="col-4-4">
                  Persons not in cars
                </div>
              </div>
              <div class="row">
                <div class="col-4-4">
                  {{#each persons}}
                    {{> person this}}
                  {{/each}}
                </div>
              </div>
              <div class="row">
                <div class="col-4-4">
                  <div class="placeholder" data-accepted-drops="person">
                    <img src="/img/person.png" class="placeholder-image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>