<ul class="data-menu">
  <li class="active">
    <span class="menu-item-type menu-scenario">Scenarios</span>
    <ul>
      <li>
        <a data-on-click="ev/menu-create-element" data-type="scenario"><i class="fa fa-plus"></i>  Create</a>
      </li>
    </ul>
  </li>
  <li class="active">
    <span class="menu-item-type menu-place">Place</span>
    <ul>
      <li>
        <a data-on-click="ev/menu-create-element" data-type="place"><i class="fa fa-plus"></i>  Create</a>
      </li>
    </ul>
  </li>
  <li class="active">
    <span class="menu-item-type menu-car">Car</span>
    <ul>
      <li>
        <a data-on-click="ev/menu-create-element" data-type="car"><i class="fa fa-plus"></i>  Create</a>
      </li>
    </ul>
  </li>
  <li class="active">
    <span class="menu-item-type menu-person">Person</span>
    <ul>
      <li>
        <a data-on-click="ev/menu-create-element" data-type="person"><i class="fa fa-plus"></i>  Create</a>
      </li>
    </ul>
  </li>
</ul>