.logo {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

body {
    position: relative;
    margin-left: 240px;
}

body > nav {
    left: 0;
}

.cursor-pointer {
  cursor:pointer;
}

.hover-color:hover {
  color: #7550ff;
}

.element-pane {
  padding: 15px;
  margin: 5px;
  border: 1px solid blue;
  border-radius: 15px;
}

.person-pane {
  padding: 5px;
  margin: 5px;
  border: none;
}

/*Icon is for drag */
.data-menu .menu-item-element [draggable="true"]
{
  cursor: -webkit-grab;
  cursor: grab;
}

/*Icon is for except scenario */
.data-menu .menu-item-element > i
{
  cursor: pointer;
}


.data-menu .menu-item-element i.fa-plus
{
  cursor: pointer;
}


.scenario-pane,
.place-pane,
.car-pane,
.person-pane,
{
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.scenario-content,
.place-content,
.car-content
{
  padding: 5px;
}

.scenario-unset-content,
.place-unset-content
{
  margin-top: 5px;
}


.dragging
{
  font-size: 4em;
}

.draggable-cover-container
{
  position: relative;
}
.draggable-image
{
  height: 30px;
  position: absolute;
  top: -500px;
  left: -500px;
}

.draggable-image-person
{
}

.draggable-image-car
{
  top: -550px;  
}

.draggable-image-place
{
  top: -600px;
}

.draggable-cover
{
  width: 100%;
  height: 35px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #FAFAFA;
  z-index: 2;
}

.placeholder
{
  display: none;
  background-color: #AAAAAA;
  padding: 6px;
  border-radius: 5px;
}

.placeholder-image
{
  height: 30px;
}


.scenario-pane.dragover
{
  /*pointer-events: none;*/
}

.scenario-pane.dragover .placeholder.active
{
  display: inline-block;
}

.remove-button {
  cursor: pointer;
}

.remove-button:hover
{
  color: red;
}